// header Navbar css start
.border-y{
  border-top: 2px solid #602fec;
  border-bottom: 2px solid #602fec;
  margin-bottom: 1px;
}
// header Navbar css end
// Navbar logo hidden an show css start
.navbar{
  background-color:#602fec;
}

.d-sm-hidden{
  display: block;
}
.d-lg-hidden{
  display: block;
}

@media (max-width:980px) {
  .d-sm-hidden{
    display: none;
  }
}
@media (min-width: 980px) {
  .d-lg-hidden{
    display: none;
  }
  #collapseNavLink{
    justify-content: center;
  }
}
// Navbar logo hidden an show css end

// pageContent polygon css Start
#head {
  display: table;
  width: 100%;
  height: 60vh;
  background-size: cover;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url('../../../public/image/front_look/front.jpg') no-repeat fixed center;
  background-size: cover;
  margin-top: 3rem;
}
.text1 {
  font-size: 5rem;
  width: 45rem;
  color: #602fec;
  background: #fff;
  padding: 1rem;
  text-align: center;
  opacity: .8;
  margin-top: 8rem;
}

#text2 {
  color: #fff;
  margin-left: 0;
  font-size: 2rem;
  width: 40rem;
  background: #602fec;
  padding: 1rem;
  text-align: center;
  opacity: .8;
  margin-top: 1rem;
}

@media ( (min-width: 200px) and (max-width: 450px)) {
  #head {
    height: 50vh;
  }

  #text1 {
    margin-left: 0;
    font-size: 30px;
    width: 15rem;
  }
  #text2 {
    margin-left: 0;
    font-size: 15px;
    width: 15rem;
  }
}
@media only screen and  (min-width: 450px) and (max-width: 750px)  {
  #head {
    height: 30vh;
  }
  #text1 {
    margin-left: 0;
    font-size: 31px;
    width: 26rem;
    margin-top: 35px;
  }
  #text2 {
    margin-left: 0;
    font-size: 21px;
    width: 21rem;
  }
}
@media only screen and (max-width: 912px) and (min-width: 750px)  {
  #head {
    height: 35vh;
  }
  #text1 {
    margin-left: 0;
    font-size: 40px;
    margin-top: 3rem;
    width: 26rem;
  }
  #text2 {
    margin-left: 0;
    font-size: 26px;
    width: 25rem;
  }
}
// pageContent polygon css end

