.custom-info-tooltip {
  --bs-tooltip-bg: var(--bs-info);
}
.custom-primary-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}
.custom-secondary-tooltip {
  --bs-tooltip-bg: var(--bs-secondary);
}
.custom-secondary-tooltip {
  --bs-tooltip-bg: var(--bs-secondary);
}
.custom-success-tooltip {
  --bs-tooltip-bg: var(--bs-success);
}
.custom-danger-tooltip {
  --bs-tooltip-bg: var(--bs-danger);
}
.custom-warning-tooltip {
  --bs-tooltip-bg: var(--bs-warning);
}
.custom-warning-tooltip {
  --bs-tooltip-bg: var(--bs-warning);
}
.custom-light-tooltip {
  --bs-tooltip-bg: var(--bs-light);
}
.custom-dark-tooltip {
  --bs-tooltip-bg: var(--bs-dark);
}