.indexFirstRow {
    background-color: #ffffff;
    padding: 0;
    overflow: hidden;
}
.index1{
    padding: 0;
    height: 800px;
}
@media  (max-width: 980px){
   .index1{
       height: 250px;
   }
}
.textContainer{
    display: flex;
    align-items: center;
}
