<header class="section-header  border-bottom sticky-top">

    <div class="container-fluid header_container_fluid">
        <div class="row align-items-center my-2">
            <div class="col-3 col-md-4">
                <a href="{{ path('app_index') }}" class="brand-wrap h3 me-3">
                    The Test
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col-6 col-md-4">
                <div class="d-flex">
                    <div class="input-group">
                        <input type="search" id="navBarFilter" class="form-control "
                               placeholder="Search..." aria-label="Input group example"
                               aria-describedby="btnGroupAddon" style="margin: 0;">
                        <button id="NavBarSearchButton" class="btn btn-secondary btn-filter">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                    <div class="btn-group ms-1">
                        <button class="btn btn-secondary navBarFilter">
                            <i class="fa fa-fw fa-filter"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-4 text-end">
                {% if app.user or  is_granted('IS_AUTHENTICATED_FULLY') %}
                    <button class="navbar-toggler float-end" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasNavbar">
                        <img src=""
                             class="img-thumbnail img-fluid rounded-circle" width="50"/>
                    </button>
                {% else %}
                    <a href="{{ path('app_login') }}"> Login </a>/
                    <a href="{{ path('app_register') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>

</header>