<nav class="navbar navbar-expand-lg sticky-top navbar-dark py-0">
    <div class="container-fluid">

        <div class="collapse navbar-collapse nav_link_Position" id="collapseNavLink">
            <ul class="navbar-nav ">
                <li>
                    <a href="{{ path('app_index') }}" class=" navbar-brand d-lg-hidden">
                        <i class="fa-regular fa-registered"></i> Royal Reside
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if currentRoute == "home" %} active {% endif %}" aria-current="page"
                       href="{{ path('app_home',{'routeType':'home'}) }}">
                        <i class="fa-solid fa-house-user"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if currentRoute == "contactus" %} active {% endif %}"
                       aria-current="page" href="{{ path('app_home',{'routeType':'contactus'}) }}">
                        <i class="fa-solid fa-phone"></i>
                        Contact us
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>