<div class="row">
    <div class="col-md-6">
        <a href="{{ path('app_register' , {'registerType' : 'user'}) }}">
            <img src="" alt="user">
        </a>
    </div>
    <div class="col-md-6">
        <a href="{{ path('app_register' , {'registerType' : 'Admin'}) }}">
            <img src="" alt="admin">
        </a>
    </div>
</div>