<div class="row">
    <div class="col-md-6 text-center">
        <a href="{{ path('app_register' , {'registerType' : 'user'}) }}">
            <img src="{{ asset('image/register/registerUser.jpg') }}" class="img-fluid rounded-circle" alt="user">
            User
        </a>
    </div>
    <div class="col-md-6 text-center">
        <a href="{{ path('app_register' , {'registerType' : 'company'}) }}">
            <img src="{{ asset('image/register/registerOwner.jpg') }}" class="img-fluid rounded-circle" alt="admin">
            Company
        </a>
    </div>
</div>