<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                {{ (site_meta_title_name is defined ? (site_meta_title_name |trans) ~ " | " : "") ~ 'Test' }}
            {% endblock %}
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}

        {% block pageStylesheets %}
        {% endblock %}

        {% block pageJavascripts %}
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
