{% extends 'base.html.twig' %}

{% block body %}

    {% block NavBar %}
        {{ include('navBar/navBar.html.twig') }}
    {% endblock %}

<div class="container-fluid">
    {% block pageContentTop %}
    <section id="home" class="home container-fluid p-0 col-lg-12 col-xxl-12">
        <div class="container-fluid  col-sm-12" id="head">
            <div class="row hero col-sm-12 p-0">
                <div class="col pl-3 col-sm-12 p-0">
                    <h1 class="text1" id="text1">Ritz Carlton</h1>
                    <h3 class="text2" id="text2"> Welcome to heaven on earth...</h3>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

    {% block pageContent %}
    {% endblock %}
</div>


{% endblock %}