{% extends 'base.html.twig' %}

{% block body %}

    {% block NavBar %}
        {{ include('navBar/navBar.html.twig') }}
    {% endblock %}

    <div class="container-fluid">
        {% block pageContent %}
        {% endblock %}
    </div>


{% endblock %}